---
import type { CollectionEntry } from "astro:content";
import type { IElement } from "@/data/shared";
import { getFormattedDate } from "@/utils";

interface Props extends IElement {
	post: CollectionEntry<"post">;
	withDesc?: boolean;
}

const { post, as: Element = "div", withDesc = false } = Astro.props;
const date = new Date(post.data.publishDate);
const datetime = date.toISOString();
const postDate = getFormattedDate(date);
---

<div class="container m-auto grid grid-cols-2 font-Arimo">
	<!-- {post.data.ogImage && (
		<div>
			<img class="object-fit justify-center rounded-lg" width="300" height="300" src={post.data.ogImage} alt={post.data.title} />	
		</div>
	  )}  -->
	<Element>
		<a href={`/posts/${post.slug}/`} class=" text-xl underline font-Aileron-Black " rel="prefetch">
			{post.data.title}
		</a>
	</Element>
	{withDesc && <q class="line-clamp-3 block italic font-sans">{post.data.description}</q>}

</div>

